.calculate-btn {
    background-color: #198754;
    padding: 7px 43px;
    font-size: 21px;
    font-weight: bold;
    color: white;
    border-style: none;
    transition: 2s;
}
.calculate-btn:hover{
    background-color: #74c69f;
}
.save-btn {
    background-color: #198754;
    padding: 7px 43px;
    font-size: 21px;
    font-weight: bold;
    color: white;
    border-style: none;
    transition: 2s;
}
.save-btn:hover{
    background-color: #74c69f;
}
.save-input {
    width: 127px;
    height: 45px;
    margin-left: 6px;
}
img{
    min-height: 100%;
    min-width: 100%;
}